@{
    ViewData["Title"] = "Categories";
}
<h1>Shop our Store</h1>
<ul>
    <li>
        <a asp-controller="Categories" asp-action="Browse">Category 1</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="Browse">Category 2</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="Browse">Category 3</a>
    </li>
</ul>
