@{
    ViewData["Title"] = "Home Page";
}

@* @{
    Layout = "_Admin";
} *@
<div class="text-center">
    <h1 class="display-4">Welcome to DotNet Bookstore</h1>
    <p>We're learning ASP.NET Core MVC in Summer 2024 at Georgian College</p>
</div>
